astropy>=5.2.2,<8
ehtim @ git+https://github.com/dpesce/eht-imaging.git@5cdddafab83d26dad80bb5cab9f54edffcedbb18
matplotlib>=3.7.4
numpy>=2.0
pandas>=2.2.2
PyYAML>=6.0
scipy>=1.10.1,<1.17
sphinx>=7
sphinx-rtd-theme>=2
